{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'blogData/allPosts.css'%}" />
  </head>
  <body>
    <h1 id="titulo_magico">All Posts</h1>
    {% for posts in posts %}
    <div class="post_card">
      <p>{{ posts.title }}</p>
      <p>{{ posts.date|date:"d \o\f M Y" }}</p>
      <a href="{% url 'post_details' posts.id %}">{{ posts }}</a>
      <br /><br />
    </div>
    {% endfor %}
    <br />
    <a id="home" href="{% url 'index' %}">Volver a Menu Principal</a>
    <a id="forTags" href="{% url 'forTags' %}">Search for tags</a>
    <br>
    <br>
  </body>
</html>
